<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        .apad {
            padding-left: 5px;
        }
        
        .lipad {
            padding-left: 10px;
            list-style: none;
        }
    </style>
    <title>Vue.js 예제 모음</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <H1>Vue.js 예제 모음</H1>
        <ul>

            <template v-for="vueURL in vueURLs"><div @click="vueURL.show = !vueURL.show"><li >{{vueURL.keyWord}}</li>                
            </div>
                <template v-for="(item,index) in vueURL.urls">
                    <div v-if="vueURL.show">
                    <li class="lipad">{{index+1}}.<a :href="item.url" target="_blank" class="apad">{{item.name}}</a></li>
                </div>
                </template>
            </template>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {

                vueURLs: [{
                    keyWord: "Hello Vue.js",
                    urls: [{
                        url: 'source/ex2-1.html',
                        name: 'Hello Vue'
                    }],
                    show: false
                }, {
                    keyWord: "데이터표시하기(v-text)",
                    urls: [{
                        url: 'source/ex3-1.html',
                        name: 'v-text'
                    }, {
                        url: 'source/ex3-2.html',
                        name: 'v-html'
                    }, {
                        url: 'source/ex3-3.html',
                        name: '{{text}}'
                    }],
                    show: false
                }, {
                    keyWord: "데이터표시하기2-예제",
                    urls: [{
                        url: 'source/ex4-1.html',
                        name: '{{expression}}'
                    }, {
                        url: 'source/ex4-2.html',
                        name: '배열1'
                    }, {
                        url: 'source/ex4-3.html',
                        name: '배열2'
                    }],
                    show: false
                }, {
                    keyWord: "속성 지정하기1(v-bind)",
                    urls: [{
                        url: 'source/ex5-1.html',
                        name: 'v-bind:href'
                    }, {
                        url: 'source/ex5-2.html',
                        name: 'v-bind:src'
                    }, {
                        url: 'source/ex5-3.html',
                        name: 'v-bind:align'
                    }],
                    show: false
                }, {
                    keyWord: "속성 지정하기2(v-bind)",
                    urls: [{
                        url: 'source/ex6-1.html',
                        name: 'v-bind:style'
                    }, {
                        url: 'source/ex6-2.html',
                        name: 'v-bind:style'
                    }, {
                        url: 'source/ex6-3.html',
                        name: 'v-bind:class'
                    }],
                    show: false
                }, {
                    keyWord: "입력폼을 데이터와 연결하기1(v-model)",
                    urls: [{
                        url: 'source/ex7-1.html',
                        name: 'v-model'
                    }, {
                        url: 'source/ex7-2.html',
                        name: 'v-model[textarea]'
                    }, {
                        url: 'source/ex7-3.html',
                        name: 'v-model[checkbox]'
                    }, {
                        url: 'source/ex7-4.html',
                        name: 'v-model[checkbox]'
                    }],
                    show: false
                }, {
                    keyWord: "입력폼을 데이터와 연결하기2(v-model)",
                    urls: [{
                        url: 'source/ex8-1.html',
                        name: 'v-model[radio]'
                    }, {
                        url: 'source/ex8-2.html',
                        name: 'v-model[radio]'
                    }, {
                        url: 'source/ex8-3.html',
                        name: 'v-model[select]'
                    }, {
                        url: 'source/ex8-4.html',
                        name: 'v-model[Multi-select]'
                    }],
                    show: false
                }, {
                    keyWord: "이벤트와 연결하기(v-on)",
                    urls: [{
                        url: 'source/ex9-1.html',
                        name: 'v-on:click'
                    }, {
                        url: 'source/ex9-2.html',
                        name: 'v-on:click'
                    }, {
                        url: 'source/ex9-3.html',
                        name: 'v-on:keyup.enter.crtl'
                    }],
                    show: false
                }, {
                    keyWord: "조건과 연결하기(v-if)",
                    urls: [{
                        url: 'source/ex10-1.html',
                        name: 'v-if'
                    }, {
                        url: 'source/ex10-2.html',
                        name: 'v-if'
                    }, {
                        url: 'source/ex10-3.html',
                        name: 'v-if'
                    }, {
                        url: 'source/ex10-4.html',
                        name: 'v-if,v-else-if,v-else'
                    }],
                    show: false
                }, {
                    keyWord: "조건과 연결하기2(v-show)",
                    urls: [{
                        url: 'source/ex11-1.html',
                        name: 'v-show'
                    }, {
                        url: 'source/ex11-2.html',
                        name: 'v-show'
                    }, {
                        url: 'source/ex11-3.html',
                        name: 'v-show'
                    }],
                    show: false
                }, {
                    keyWord: "반복표시하기1(v-for)",
                    urls: [{
                        url: 'source/ex12-1.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex12-2.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex12-3.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex12-4.html',
                        name: 'v-for'
                    }],
                    show: false
                }, {
                    keyWord: "반복표시하기2(v-for)",
                    urls: [{
                        url: 'source/ex13-1.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex13-2.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex13-3.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex13-4.html',
                        name: 'v-for'
                    }],
                    show: false
                }, {
                    keyWord: "반복표시하기3(v-for)",
                    urls: [{
                        url: 'source/ex14-1.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex14-2.html',
                        name: 'v-for'
                    }, {
                        url: 'source/ex14-3.html',
                        name: 'v-for'
                    }],
                    show: false
                }, {
                    keyWord: "자바스크립트 라이브러리와 연동하기",
                    urls: [{
                        url: 'source/ex15-1.html',
                        name: '구글 차트[PieChart]'
                    }, {
                        url: 'source/ex15-2.html',
                        name: '구글 차트[PieChart]'
                    }, {
                        url: 'source/ex15-3.html',
                        name: '구글 차트[BarChart]'
                    }],
                    show: false
                }, {
                    keyWord: "데이터 산출(computed)",
                    urls: [{
                        url: 'source/ex16-1.html',
                        name: 'computed'
                    }, {
                        url: 'source/ex16-2.html',
                        name: 'computed'
                    }, {
                        url: 'source/ex16-3.html',
                        name: 'computed'
                    }],
                    show: false
                }, {
                    keyWord: "데이터 산출(computed)",
                    urls: [{
                        url: 'source/ex17-1.html',
                        name: 'computed'
                    }, {
                        url: 'source/ex17-2.html',
                        name: 'computed'
                    }, {
                        url: 'source/ex17-3.html',
                        name: 'computed'
                    }],
                    show: false
                }, {
                    keyWord: "데이터 산출(computed)",
                    urls: [{
                        url: 'source/ex18-1.html',
                        name: 'computed'
                    }, {
                        url: 'source/ex18-2.html',
                        name: 'computed'
                    }, {
                        url: 'source/ex18-3.html',
                        name: 'computed'
                    }],
                    show: false
                }, {
                    keyWord: "데이터의 변화 감지",
                    urls: [{
                        url: 'source/ex19-1.html',
                        name: 'watch'
                    }, {
                        url: 'source/ex19-2.html',
                        name: 'watch'
                    }, {
                        url: 'source/ex19-3.html',
                        name: 'watch'
                    }],
                    show: false
                }, {
                    keyWord: "애니메이션 효과1",
                    urls: [{
                        url: 'source/ex20-1.html',
                        name: 'transition'
                    }, {
                        url: 'source/ex20-2.html',
                        name: 'transition'
                    }, {
                        url: 'source/ex20-3.html',
                        name: 'transition'
                    }],
                    show: false
                }, {
                    keyWord: "애니메이션 효과2",
                    urls: [{
                        url: 'source/ex21-1.html',
                        name: 'transition'
                    }, {
                        url: 'source/ex21-2.html',
                        name: 'transition'
                    }, {
                        url: 'source/ex21-3.html',
                        name: 'transition'
                    }],
                    show: false
                }, {
                    keyWord: "애니메이션 효과3",
                    urls: [{
                        url: 'source/ex22-1.html',
                        name: 'transition'
                    }, {
                        url: 'source/ex22-2.html',
                        name: 'transition'
                    }, {
                        url: 'source/ex22-3.html',
                        name: 'transition'
                    }],
                    show: false
                }, {
                    keyWord: "컴포넌트 다루기1",
                    urls: [{
                        url: 'source/ex23-1.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex23-2.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex23-3.html',
                        name: 'Component'
                    }],
                    show: false
                }, {
                    keyWord: "컴포넌트 다루기2",
                    urls: [{
                        url: 'source/ex24-1.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex24-2.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex24-3.html',
                        name: 'Component'
                    }],
                    show: false
                }, {
                    keyWord: "컴포넌트 다루기3",
                    urls: [{
                        url: 'source/ex25-1.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex25-2.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex25-3.html',
                        name: 'Component'
                    }],
                    show: false
                }, {
                    keyWord: "컴포넌트 다루기4",
                    urls: [{
                        url: 'source/ex26-1.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex26-2.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex26-3.html',
                        name: 'Component'
                    }],
                    show: false
                }, {
                    keyWord: "컴포넌트 상태관리",
                    urls: [{
                        url: 'source/ex27-1.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex27-2.html',
                        name: 'Component'
                    }, {
                        url: 'source/ex27-3.html',
                        name: 'Component'
                    }],
                    show: false
                }, {
                    keyWord: "필터 제대로 익히기",
                    urls: [{
                        url: 'source/ex28-1.html',
                        name: 'Filter'
                    }, {
                        url: 'source/ex28-2.html',
                        name: 'Filter'
                    }, {
                        url: 'source/ex28-3.html',
                        name: 'Filter'
                    }, {
                        url: 'source/ex28-4.html',
                        name: 'Filter'
                    }],
                    show: false
                }, {
                    keyWord: "사용자화 필터(Filter)",
                    urls: [{
                        url: 'source/ex29-1.html',
                        name: 'Filter(toUpperCase)'
                    }, {
                        url: 'source/ex29-2.html',
                        name: 'Filter(toLowerCase)'
                    }, {
                        url: 'source/ex29-3.html',
                        name: 'Filter'
                    }, {
                        url: 'source/ex29-4.html',
                        name: 'Filter(json)'
                    }],
                    show: false
                }, {
                    keyWord: "To do 리스트 만들기",
                    urls: [{
                        url: 'source/ex30-1.html',
                        name: 'To Do 리스트'
                    }, {
                        url: 'source/ex30-2.html',
                        name: 'To Do 리스트'
                    }],
                    show: false
                }, {
                    keyWord: "text 엘리먼트 수식어",
                    urls: [{
                        url: 'source/ex34-1.html',
                        name: 'v-model.lazy'
                    }, {
                        url: 'source/ex34-2.html',
                        name: 'v-model.number'
                    }, {
                        url: 'source/ex34-3.html',
                        name: 'v-model.trim'
                    }],
                    show: false
                }, {
                    keyWord: "라이프 사이클 이벤트 훅",
                    urls: [{
                        url: 'source/ex35-1.html',
                        name: '라이프 사이클 이벤트 훅'
                    }, {
                        url: 'source/ex35-2.html',
                        name: '라이프 사이클 이벤트 훅'
                    }],
                    show: false
                }]

            }
        })
    </script>

</body>

</html>